body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* left panel */
.letPanel {
  height: 400px;
  width: 100%;
  background: rgb(241, 240, 240);
}

/* right panel top */
.rightPanelTop {
  height: 200px;
  width: 100%;
  background: rgb(241, 240, 240);
  text-align: center; 
  overflow: scroll;
}

/* right panel buttom */
.rightPanelButtom {
  height: 280px;
  width: 100%;
  color: aliceblue;
 /*  background: rgb(15, 0, 0); */
 /* text-align: center; */
 overflow: auto;
}

.outerContainer{
  margin-top:30px;
}

/* styling the upload file */
/* [type="file"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

[type="file"] + a {
  background-color: #000;
  border-radius: 4rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding-left: 2rem 4rem;
}

[type="file"]:focus + a,
[type="file"] + a:hover {
    background-color: #f15d22;
}

[type="file"]:focus + a {
  outline: 1px dotted #000;
} */